# ==========================
# Dependencias Principales de Django
# ==========================
Django==4.2.17
asgiref==3.8.1
sqlparse==0.5.3
psycopg2-binary==2.9.10
dj-database-url==2.3.0

# ==========================
# Seguridad y Configuración
# ==========================
python-decouple==3.8
python-dotenv==1.0.1
django-environ==0.11.2  # Gestión de variables de entorno
pillow==11.0.0

# ==========================
# Herramientas y Utilidades
# ==========================
requests==2.32.3
urllib3==2.2.3
certifi==2024.12.14
charset-normalizer==3.4.0
idna==3.10

# ==========================
# Entorno de Desarrollo y Debug
# ==========================
ipython==7.23.1
ipykernel==5.5.5
jupyter-client==6.1.12
jupyter-core==4.7.1
backcall==0.2.0
decorator==5.0.9
jedi==0.18.0
parso==0.8.2
pickleshare==0.7.5
platformdirs==4.3.6
prompt-toolkit==3.0.18
pyzmq==25.1.2
Pygments==2.9.0
traitlets==5.0.5
typing_extensions==4.12.2
tornado==6.1
wcwidth==0.2.5

# ==========================
# Zonas Horarias
# ==========================
tzdata==2024.2

# ==========================
# Otros
# ==========================
six==1.16.0
matplotlib-inline==0.1.2
colorama==0.4.4
python-dateutil==2.8.1

# ==========================
# Herramientas de construccion adecuadas
# ==========================
wheel==0.45.1
setuptools==75.6.0